* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : inherit;
  line-height : inherit;
  color       : inherit;
}

ul,
ol {
  list-style : none;
}

// Remove the clear button of a text input control in IE10+
input::-ms-clear, input::-ms-reveal {
  display : none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: @link-color;
}

.inner-row {
  max-width: 1170px;
  margin: 0 auto;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
